.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.3rem;
    margin-right: 18%;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 28vw;
    height: 30vh;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 18vh;
}

.portfolio__item-image img {
    min-width: 100%;
    object-fit: cover;
    aspect-ratio: auto;
    height: 22vh;
}

.portfolio__item h3 {
    margin: 1.2rem -.5rem 1rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        margin-right: 7%;
        overflow: hidden;
    }
    .portfolio__item {
        width: 41vw;
        height: 35vh;
    }

    .portfolio__item h6 {
        margin: -1rem 0rem 1rem -.5rem;
        color: var(--color-light);
    }

}

@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        place-items: center;
        margin-right: 5%;
        margin-top: -15%;
    }

    .portfolio__item {
        width: 90vw;
        height: 40vh;
    }

    .portfolio__item h6 {
        margin: -1rem 0rem .5rem -.5rem;
        color: var(--color-light);
    }

    .portfolio__item-image img {
        object-fit: fill;
        height: 25vh;
        width: 30vh;
    }
}